<vega-card *ngFor="let player of allPlayers$ | async; let first = first;" margin="size-8">
  <vega-grid column="3" gap="size-0">
    <div class="card-header" style="grid-column: 1 /  span 3;">
      <img class="avatar" src="{{player.profile.avatar}}" alt="cant load">
      <div class="flag-nickname-container">
        <div class="nick-container">
          <img src="assets/flags/ua.svg" alt="cant load" class="flag">
          <div class="faceit-nick">{{player.profile.nickname}}</div>
<!--          <img *ngIf="first" class="capitan" src="assets/icons/captain.svg" alt="cant load">-->
        </div>
        <div class="steam-nick">{{player.profile.steamNick}}</div>
      </div>
      <img src="assets/icons/elo.svg" alt="cant load" class="elo">
      <div>{{player.profile.elo}}</div>
      <img src="assets/icons/level/faceit{{player.profile.level}}.svg" alt="cant load" class="level">
    </div>
    <div class="box" style="grid-column: 1 /  span 3;">
      Overall for Last 20 Matches
    </div>
    <div class="box" style="grid-row: span 3;">
      <div>Matches</div>
      <div>{{player.globalStatistic.matches}}</div>
    </div>
    <div class="box" style="grid-row: span 3;">
      <div>Win rate</div>
      <div>{{player.globalStatistic.winRatePercent}}%</div>
    </div>
    <div class="box" style="grid-row: span 3;">
      <div>Longest Win Streak</div>
      <div>{{player.globalStatistic.longestWinStreak}}</div>
    </div>
    <div class="box" style="grid-row: span 3;">
      <div>Avg. Kills/HS</div>
<!--      <div> {{player.statistic.avgKillsForMap}}/{{player.statistic.averageHeadshotsPercent}}%</div>-->
      <div> null/{{player.globalStatistic.averageHeadshotsPercent}}%</div>
    </div>
    <div class="box" style="grid-row: span 3;">
      <div>Avg. K/D K/R</div>
      <div>{{player.globalStatistic.averageKDRatio}}/null</div>
    </div>
    <div class="box" style="grid-row: span 3;">
      <div>Current Win Streak</div>
      <div>{{player.globalStatistic.currentWinStreak}}</div>
    </div>
    <div style="grid-column: 1 /  span 3;">
      <div class="box box-end">
        <div>Last 5</div>
        <div class="winLose-container">
          <label *ngFor="let game of getLastFive(player.globalStatistic);" class="winLose">
            <label *ngIf="game === 'L'" class="lose">{{game}}</label>
            <label *ngIf="game === 'W'" class="win">{{game}}</label>
          </label>
        </div>
      </div>
    </div>
  </vega-grid>
</vega-card>


