@import 'src/variables';

vega-card {
  border: 1px solid $border-color;
  background-color: $background-color;
  color: white;
  padding: 0;
  margin-bottom: 8px;
  width: 500px;
  font-family: 'Roboto';
  font-size: 14px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0;
  max-height: 56px;
  color: white;

  .flag-nickname-container {
    display: flex;
    flex-direction: column;

    .nick-container {
      display: flex;

      .faceit-nick {
        font-weight: bold;

        .capitan {
          color: white;
          width: 10px;
        }
      }
    }

    .steam-nick {
      font-size: 13px;
      color: $font-secondary;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 150px;
    }
  }
}

.box {
  text-align: center;
  border: 1px solid $border-color;
  padding: 5px 0;
  color: $font-secondary;
}

.box-end {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.winLose-container {
  display: flex;
  justify-content: center;

  .winLose {
    font-weight: bold;
    padding-right: 5px;
  }

  .win {
    color: #32d35a;
  }

  .lose {
    color: #ff002b;
  }
}
