<vega-grid column="3" gap="size-16">

  <div style="grid-column: 1 /  span 3;">
    <vega-input
      [formControl]="matchIdControl"
      placeholder="Paste link to faceit room"
      prefix-icon="search"
      max-length="200"
      show-clear-icon="true">
    </vega-input>

  </div>

  <div style="grid-row: span 4;">
    <team-component class="team-container glue-to-right" [players$]="playersLeft$"></team-component>
  </div>
  <div>
    <map-comparing
      [playersLeft]="playersLeft$"
      [playersRight]="playersRight$">
    </map-comparing>
  </div>
  <div style="grid-row: span 4;">
    <team-component class="team-container glue-to-left" [players$]="playersRight$"></team-component>
  </div>
  <!--  <div style="grid-column: 2">Child Item 4</div>-->
  <!--  <div style="grid-column: 2">Child Item 5</div>-->
  <!--  <div style="grid-column: 2">Child Item 6</div>-->

  <!--  <div style="grid-column: 1 /  span 3;">Child Item 5</div>-->

</vega-grid>
