@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'src/variables';

.body {
  background-color: $background-color;
  padding: 10px;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.flag {
  width: 30px;
  padding-right: 10px;
}

.elo {
  width: 30px;
}

.level {
  width: 35px;
}
